src/data/DB_questions/History/ChroniclingAmericaQA/train.json
src/data/DB_questions/History/HQA-data/HQA-data.zip
src/data/DB_questions/Math/math_dataset_csvs

*.pyc
.env 
*.env
__pycache__/

# include mini csv files
src/data/DB_questions/Math/math_dataset_csvs/*_mini.csv
src/data/DB_questions/History/train.json
src/data/DB_questions/Science/science_questions_to_index.csv
src/data/DB_questions/History/history_questions_to_index.csv
src/data/DB_questions/SAT/sat_questions_to_index.csv
*.DS_Store
